.dashboard {
  flex: 1;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-time {
  font-size: 18px;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.stat-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.content {
  margin-top: 10px;
}

.charts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.daily-chart {
  width: 90%;
}

.chart-container {
  background-color: #2e2d2e; /* 흰색 배경 */
  padding: 20px;
  border-radius: 10px; /* 옵션: 모서리를 둥글게 */
}
