.iot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin-top: 100px;
}

.iot-box {
  background-color: #34495e;
  color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0003;
  margin-top: 10px;
}

.iot-header {
  font-size: 25px;
  text-align: center;
}

.iot-status {
  font-size: 20px;
  text-align: center;
}
.iot-button {
  background-color: #27ae60;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px; /* 버튼 간 간격 조정 */
}

.iot-button:hover {
  background-color: #2ecc71;
}

.iot-all-button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.iot-all-container {
  margin-bottom: 30px; /* 모든 IOT 컨트롤 버튼과의 간격 */
  width: 100%; /* 버튼 너비를 컨테이너에 맞춤 */
  display: flex;
  justify-content: center; /* 버튼을 중앙에 위치 */
}
