.power-usage-box {
  max-width: 1000px; /* 박스 최대 너비 설정 */
  width: 100%; /* 전체 너비 사용 */
  background-color: #3e3c3c; /* 배경 색상 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  margin-top: 30px; /* 상단 마진을 줄여 헤더와 박스 사이 간격 최소화 */
  padding: 10px; /* 내부 여백 */
  display: flex; /* 플렉스박스 모델 사용 */
  justify-content: space-around; /* 아이템을 상자의 양 끝으로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border-radius: 5px; /* 선택 사항: 모서리를 둥글게 */
}

.power-usage-item {
  text-align: center; /* 텍스트 중앙 정렬 */
}

.power-usage-item h1 {
  font-size: 23px; /* 제목 글꼴 크기 */
  color: #ffffff; /* 제목 색상 */
  margin-bottom: 5px; /* 제목과 내용 사이의 여백 */
}

.power-usage-item p {
  font-size: 36px; /* 내용 글꼴 크기 */
  color: #ffffff; /* 내용 색상 */
  font-weight: bold; /* 굵은 글씨 */
}
