.stats-container {
  display: flex;
  flex-direction: column; /* 항목들을 가로 방향으로 배열 */
  justify-content: space-around; /* 항목들 사이에 공간을 균등하게 배분 */
  align-items: center; /* 항목들을 중앙에 맞춤 */
  width: 300px;
  height: 400px; /* 컨테이너의 너비를 부모의 100%로 설정 */
  padding: 10px; /* 내부 패딩을 조금 더 넉넉하게 조정 */
  background-color: #34495e; /* 배경색 설정 */
  color: #ecf0f1; /* 글씨색 설정 */
  border-radius: 10px; /* 모서리를 둥글게 처리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  margin-top: 10px;
}

.stat-item {
  display: flex;
  flex-direction: column; /* 세로 방향으로 아이콘과 텍스트를 배열 */
  align-items: center; /* 중앙 정렬 */
  padding: 0 10px; /* 좌우 패딩 추가 */
  font-size: 20px;
}

.stat-icon {
  width: 44px; /* 아이콘 크기 조정 */
  height: 44px; /* 아이콘 높이 조정 */
  margin-bottom: 4px; /* 아이콘과 텍스트 사이의 마진 조정 */
}
