.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  padding: 20px;
}
